$secondary-text-color: rgba(0,0,0,.54);
$divider-text-color: rgba(0,0,0,.12);

$white-text-color: rgba(255,255,255,1);
$white-secondary-text-color: rgba(255,255,255,.7);

$primary-color: #3F51B5;
$secondary-color: #303F9F;

$accent-color-1: #a63db8;
$accent-color-2: #4d5bb3;
$accent-color-3: #1aa094;
$accent-color-4: #283593;

$success: #388E3C;//green700
$danger: #F44336; //red 500

.success{ color: $success;}
.danger{ color: $danger;}

@import 'node_modules/fh-wfm-workorder/sass/workorder.scss';
@import 'node_modules/fh-wfm-workflow/sass/workflow.scss';
@import 'node_modules/fh-wfm-risk-assessment/sass/risk-assessment.scss';
@import 'node_modules/fh-wfm-vehicle-inspection/sass/vehicle-inspection.scss';
// @import 'node_modules/fh-wfm-appform/sass/appform.scss';


.appform-list tbody tr {
  cursor: pointer;
}

// Header styles
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-list{
  margin: 0;
  padding: 0;
}


// Sidenav area

md-sidenav md-list{
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

md-list-item button{
  border-radius: 0!important;
}

md-list-item.list-header{
  min-height: 64px;
  color: #fff;
  background: #3F51B5;
}

md-list-item.active .md-button, md-list-item.active .md-button:hover{
  background: #E8EAF6!important;
  cursor: default;
}

.main-toolbar{
  z-index: 99999999;
}

.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }


//empty state
.empty-state{
  text-align: center;
  color: rgba(0,0,0,.54);
}


// Inner column
.inner-column{
  md-toolbar{
    border-right: 1px solid rgba(0,0,0,.24)
  }
  background: rgba(0,0,0,.05);
  md-list-item.active .md-button, md-list-item.active .md-button:hover{
  background: #fff!important;
  }
}


// FAB

.md-fab{
  position: fixed;
  bottom: 16px;
  right: 16px;
}

// Spinner
$offset: 187;
$duration: 1.4s;

.spinner {
  position: absolute;
  top:50%;
  left:50%;
  animation: rotator $duration linear infinite;

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}


/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */

.as-sortable-item, .as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    left: inherit !important;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.as-sortable-item {
  padding: 0 16px;
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: #dbdbdb;
}

.as-sortable-drag {
  opacity: .8;
}

.as-sortable-hidden {
}
