/**
* CONFIDENTIAL
* Copyright 2016 Red Hat, Inc. and/or its affiliates.
* This is unpublished proprietary source code of Red Hat.
**/
$primary-text-color: rgba(0,0,0,.87);
$secondary-text-color: rgba(0,0,0,.54);
$divider-text-color: rgba(0,0,0,.12);

$white-text-color: rgba(255,255,255,1);
$white-secondary-text-color: rgba(255,255,255,.7);

$primary-color: #3F51B5;
$secondary-color: #303F9F;

$accent-color-1: #a63db8;
$accent-color-2: #4d5bb3;
$accent-color-3: #1aa094;
$accent-color-4: #283593;

$success: #388E3C;//green700
$danger: #F44336; //red 500

.success{ color: $success;}
.danger{ color: $danger;}

@import 'node_modules/fh-wfm-workorder/sass/workorder.scss';
@import 'node_modules/fh-wfm-workflow/sass/workflow.scss';
@import 'node_modules/fh-wfm-risk-assessment/sass/risk-assessment.scss';
@import 'node_modules/fh-wfm-vehicle-inspection/sass/vehicle-inspection.scss';
@import 'node_modules/fh-wfm-appform/sass/appform.scss';

// tabs
md-tabs md-tab-item{
  color: $secondary-text-color !important;
}

md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar.md-warn > md-tabs.md-default-theme, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused{
  color: $primary-color !important;
}

.user-info-header{
  background-size: cover;
  background-position: center center;
  background-color: #333;
  h1{
    margin: 0;
    padding: 180px 16px 16px;
    color: #fff;
    background-image: linear-gradient(to top,rgba(0,0,0,.6) 10%, transparent 60%);
  }
}

// messages screen ==========

.messages{
  .md-avatar{
    margin-top: 0!important;
  }
  .md-list-item-text{
    position: relative;
  }
  .new{
    h3{
      font-weight: bold!important;
    }
  }
  .time-stamp{
    line-height: normal;
    position: absolute;
    right: 0;
    top: 0;
    color: $secondary-text-color;
  }

  md-list-item md-divider[md-inset] {
    left: 72px;
    width: calc(100% - 72px);
  }
}

.message-header{
  position: relative;
  margin: 10px;
  padding: 0;
  color: $secondary-text-color;
  line-height: 32px;
  .time-stamp{
    position: absolute;
    right: 0;
    top: 0;
  }
}

.wfm-chip{
  background-color: $divider-text-color;
  display: inline-block;
  margin-left: 8px;
  border-radius: 16px;
}

.wfm-chip-picture{
  float: left;
  img{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: block;
  }
}

.wfm-chip-name{
  display: inline-block;
  margin: 0 12px 0 8px;
}

.wfm-chip-no-picture{
  line-height: 32px;
  background-color: $primary-color;
  color: #fff;
  .wfm-chip-name{
    margin: 0 12px;
  }
}


// Schueduler styles

.wfm-scheduler{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid $divider-text-color;
  border-right: 1px solid $divider-text-color;
  td, th, tr{
    vertical-align: top;
  }
}

.wfm-scheduler-toolbar{
  md-datepicker{
    background: transparent;
  }
}

.wfm-scheduler-worker{
  border-right: 1px solid $divider-text-color;
  md-list-item{
    border-bottom: 1px solid $divider-text-color;
  }
  p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.wfm-scheduler-calendar{
  overflow-x: scroll;
  table{
    table-layout: fixed;
    width: 700px;
    border-collapse: collapse;
    th, td{
      vertical-align: middle;
    }
    th{
//      height: 62px;
      font-weight: 400;
      font-size: 14px;
      line-height: 36px;
      color: $secondary-text-color;
      background: $divider-text-color;
      border-right: 1px solid $divider-text-color;
      border-bottom: 1px solid $divider-text-color;
    }
    td{
      border-right: 1px solid $divider-text-color;
      border-bottom: 1px solid $divider-text-color;
      height: 55px;
      position: relative;
      .wfm-chip{
        position: absolute;
        top:50%;
        left: 0;
        transform: translateY(-50%);
        min-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.wfm-scheduler-workorders{
  border-left: 1px solid $divider-text-color;
  .wfm-chip{
    display: block;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.wfm-toolbar-sm{
  color: $secondary-text-color;
  background: $divider-text-color;
  padding: 0 16px;
  h3{
    margin: 0;
    line-height: 36px;
  }
  .wfm-scheduler-workorders &{
    background: $primary-color;
    color: $white-secondary-text-color;
    box-shadow: inset 0 4px 6px $divider-text-color;
  }
}

// appform
.appform-list tbody tr {
  cursor: pointer;
}

// appform phone

.phone-display{
 // TODO add this image to the project
  background: url(https://dl.dropboxusercontent.com/u/4371641/iPhone-6.png) no-repeat 0 0;
  width: 485px;
  height: 891px;
  .app-form{
    width: 342px;
    height: 598px;
    border: 1px solid $divider-text-color;
    border-top: none;
    position: relative;
    top: 120px;
    left: 51px;
    overflow: auto;
    .workflow-actions{
      margin-top: 40px;
      position: static;
      box-shadow: none;
      border-top: 1px solid $divider-text-color;
    }
  }
}

// Header styles
.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-list{
  margin: 0;
  padding: 0;
}

// Search

.persistent-search{
  position: relative;
  label{ position: absolute;
    left: 16px;
    top: 13px;
    color: $secondary-text-color;
  }
  input{
    font-size: 16px;
    display: block;
    border: none;
    width: calc(100% - 89px);
    padding: 15px 16px 14px 72px;
 //   background: tan ;
    border-bottom: 1px solid $divider-text-color;
    border-right: 1px solid $divider-text-color;
  }
}

// Sidenav area

md-sidenav md-list{
  padding: 0;
  font-size: 14px;
  font-weight: 500;
}

md-list-item button{
  border-radius: 0!important;
}

md-list-item.list-header{
  min-height: 64px;
  color: #fff;
  background: #3F51B5;
}

md-list-item.active .md-button, md-list-item.active .md-button:hover{
  background: #E8EAF6!important;
  cursor: default;
}

.main-toolbar{
  z-index: 99999999;
}

.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }


//empty state
.empty-state{
  text-align: center;
  color: rgba(0,0,0,.54);
}


// Main column
.wfm-maincol-scroll{
  overflow-y: auto;
  height: calc(100vh - 128px);
  &.wfm-maincol-scroll_with-menu{
    height: calc(100vh - 177px);
  }
}

// Inner column
.inner-column{
  md-list{
    background: rgba(0,0,0,.05);
    overflow-y: auto;
    height: calc(100vh - 178px);
  }
  md-list-item.active .md-button, md-list-item.active .md-button:hover{
  background: #fff!important;
    md-toolbar{
      border-right: 1px solid rgba(0,0,0,.24)
    }
  }
}


// FAB

.md-fab{
  position: fixed;
  bottom: 16px;
  right: 16px;
}

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */

.as-sortable-item, .as-sortable-placeholder {
    display: block;
}

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden;
}

.as-sortable-item-handle {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.as-sortable-placeholder {
}

.as-sortable-drag {
    position: absolute;
    left: inherit !important;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}

.as-sortable-un-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */

.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin-bottom: 10px;
  border-radius: 2px;
}

.as-sortable-item {
  padding: 0 16px;
}

.as-sortable-item-handle {
}

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: #dbdbdb;
}

.as-sortable-drag {
  opacity: .8;
}

.as-sortable-hidden {
}

#gmap_canvas {
}

#gmap_canvas img {
  max-width: none!important;
  background: none!important;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}
