<!--
 CONFIDENTIAL
 Copyright 2016 Red Hat, Inc. and/or its affiliates.
 This is unpublished proprietary source code of Red Hat.
-->
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools">
    <h3>
      {{ctrl.group.name}} Group
    </h3>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Edit" ui-sref="app.group.edit({groupId: ctrl.group.id})">
      <md-icon md-font-set="material-icons">edit</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-button class="md-fab" aria-label="New group" ui-sref="app.group.new">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<md-list>
  <md-list-item class="md-2-line" >
    <md-icon md-font-set="material-icons">group</md-icon>
    <div class="md-list-item-text">
      <h3>{{ctrl.group.id}}</h3>
      <p>Group id</p>
    </div>
    <md-divider></md-divider>
  </md-list-item>

  <md-list-item class="md-2-line" >
    <md-icon md-font-set="material-icons">group</md-icon>
    <div class="md-list-item-text">
      <h3>{{ctrl.group.name}}</h3>
      <p>Group name</p>
    </div>
    <md-divider></md-divider>
  </md-list-item>

  <md-list-item class="md-2-line" >
    <md-icon md-font-set="material-icons">group</md-icon>
    <div class="md-list-item-text">
      <h3>{{ctrl.group.role}}</h3>
      <p>Role</p>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>

<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools">
    <h3>
      Members
    </h3>
  </div>
</md-toolbar>
<md-list>
  <md-list-item class="md-2-line" ng-click="navigateTo('app.worker.detail', {workerId: member.id})" ng-repeat="member in ctrl.members">
    <img alt="user.name" ng-src="{{member.avatar}}" class="md-avatar" />
    <div class="md-list-item-text">
      <h3>{{member.name}}</h3>
      <p>{{member.position}}</p>
    </div>
    <md-divider></md-divider>
  </md-list-item>
</md-list>
