<!--
 CONFIDENTIAL
 Copyright 2016 Red Hat, Inc. and/or its affiliates.
 This is unpublished proprietary source code of Red Hat.
-->
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools">
    <h3>
      Group #{{ctrl.group.id}}
    </h3>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Edit" ui-sref="app.group.edit({groupId: ctrl.group.id})">
      <md-icon md-font-set="material-icons">edit</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-button class="md-fab" aria-label="New group" ui-sref="app.group.new">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<form name="groupForm" ng-submit="ctrl.done(groupForm.$valid)" novalidate layout-padding layout-margin>

  <md-input-container class="md-block">
    <label for="groupname">Group Name</label>
    <input type="text" id="groupname" name="groupname" ng-model="ctrl.group.name" required>
    <div ng-messages="workorderForm.groupname.$error" ng-if="ctrl.submitted || groupForm.groupname.$dirty">
      <div ng-message="required">A name is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="assignee">Role</label>
    <md-select ng-model="ctrl.group.role" name="assignee" id="assignee">
       <md-option value="admin">Admin</md-option>
       <md-option value="manager">Manager</md-option>
       <md-option value="worker">Worker</md-option>
     </md-select>
  </md-input-container>

  <md-button type="submit" class="md-raised md-primary">{{ctrl.group.id || ctrl.group.id === 0 ? 'Update' : 'Create'}} Group</md-button>
</form>
