<!--
 CONFIDENTIAL
 Copyright 2016 Red Hat, Inc. and/or its affiliates.
 This is unpublished proprietary source code of Red Hat.
-->
<md-toolbar class="content-toolbar">
  <div class="md-toolbar-tools">
    <h3>
      Worker ID {{ctrl.worker.id}}
    </h3>

    <span flex></span>
    <md-button class="md-icon-button" aria-label="Close" ui-sref="app.worker.detail({workerId: ctrl.worker.id})">
      <md-icon md-font-set="material-icons">close</md-icon>
    </md-button>
  </div>
</md-toolbar>
<md-button class="md-fab" aria-label="New Workorder" ui-sref="app.worker.new">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>

<form name="workerForm" ng-submit="ctrl.done(workerForm.$valid)" novalidate layout-padding layout-margin>

  <md-input-container class="md-block">
    <label for="workername">Worker Name</label>
    <input type="text" id="workername" name="workername" ng-model="ctrl.worker.name" required>
    <div ng-messages="workerForm.workername.$error" ng-if="ctrl.submitted || workerForm.workername.$dirty">
      <div ng-message="required">A name is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Username</label>
    <input type="text" id="username" name="username" ng-model="ctrl.worker.username" required>
    <div ng-messages="workerForm.username.$error" ng-if="ctrl.submitted || workerForm.username.$dirty">
      <div ng-message="required">A username is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Banner</label>
    <input type="text" id="banner" name="banner" ng-model="ctrl.worker.banner">
    <div ng-messages="workerForm.banner.$error" ng-if="ctrl.submitted || workerForm.banner.$dirty"></div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Avatar</label>
    <input type="text" id="avatar" name="avatar" ng-model="ctrl.worker.avatar">
    <div ng-messages="workerForm.avatar.$error" ng-if="ctrl.submitted || workerForm.avatar.$dirty"></div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Phone number</label>
    <input type="text" id="phonenumber" name="phonenumber" ng-model="ctrl.worker.phone" required>
    <div ng-messages="workerForm.phonenumber.$error" ng-if="ctrl.submitted || workerForm.phonenumber.$dirty">
      <div ng-message="required">A phone number is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Email</label>
    <input type="text" id="email" name="email" ng-model="ctrl.worker.email" required>
    <div ng-messages="workerForm.email.$error" ng-if="ctrl.submitted || workerForm.email.$dirty">
      <div ng-message="required">An email is required.</div>
    </div>
  </md-input-container>

  <md-input-container class="md-block">
    <label for="workername">Position</label>
    <input type="text" id="position" name="position" ng-model="ctrl.worker.position" required>
    <div ng-messages="workerForm.position.$error" ng-if="ctrl.submitted || workerForm.position.$dirty">
      <div ng-message="required">An position is required.</div>
    </div>
  </md-input-container>

  <md-button type="submit" class="md-raised md-primary">{{ctrl.worker.id || ctrl.worker.id === 0 ? 'Update' : 'Create'}} Worker</md-button>
</form>
