<div layout="column" class="inner-column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>Workflows</span>
      </h3>
    </div>
  </md-toolbar>

  <md-list class="jobs-list">
    <md-list-item ng-repeat="workflow in ctrl.workflows" ng-click="ctrl.selectWorkflow($event, workflow)" ng-class="{active: ctrl.selectedWorkflowId === workflow.id}" >
      <div class="md-list-item-text">
        <p>{{workflow.id}} - {{workflow.title}}</p>
      </div>
    </md-list-item>
  </md-list>

</div>
