<!--
CONFIDENTIAL
Copyright 2016 Red Hat, Inc. and/or its affiliates.
This is unpublished proprietary source code of Red Hat.
-->
<md-toolbar class="wfm-scheduler-toolbar">
  <div class="md-toolbar-tools">
    <h3>
      <span>Scheduler</span>
    </h3>

    <span flex></span>
    <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
    <!--
    <md-button class="md-icon-button" aria-label="Favorite">
    <md-icon md-font-set="material-icons">date_range</md-icon>
  </md-button>
-->
</div>
</md-toolbar>

<div layout="row">
  <div flex="70">

    <table class="wfm-scheduler">
      <col width="30">
      <col width="70">
      <tr>
        <td class="wfm-scheduler-worker">
          <div class="wfm-toolbar-sm">
            <h3 class="md-subhead">
              Workers
            </h3>
          </div>
          <md-list>
            <md-list-item ng-repeat="worker in ctrl.workers">
              <img alt="Name" ng-src="{{worker.avatar}}" class="md-avatar" />
              <p>{{worker.name}}</p>
            </md-list-item>
          </md-list>
        </td>
        <td class="wfm-scheduler-calendar">
          <table>
            <tr><th ng-repeat="hour in ['7am', '8am', '9am', '10am', '11am', '12pm', '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm']">{{hour}}</th></tr>
            <tr ng-repeat="worker in ctrl.workers">
              <td ng-repeat="hour in [7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]">
                <span ng-if="ctrl.timegrid[worker.id][hour]" class="wfm-chip wfm-chip-no-picture" style="width:300px">
                  <span class="wfm-chip-name">{{ctrl.timegrid[worker.id][hour].title}}</span>
                </span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <div flex="30" class="wfm-scheduler-workorders">
    <div class="wfm-toolbar-sm">
      <h3 class="md-subhead">
        Workorders
      </h3>
    </div>
    <span ng-repeat="workorder in ctrl.workorders" class="wfm-chip wfm-chip-no-picture">
      <span class="wfm-chip-name">{{workorder.type}} #{{workorder.id}}</span>
    </span>
  </div>
</div>
