<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>
        <span>AppForms</span>
      </h3>
    </div>
  </md-toolbar>


  <form action="#" class="persistent-search">
    <label for="search"><i class="material-icons">search</i></label>
    <input type="text" id="search" placeholder="Search" ng-model="searchValue" ng-change="ctrl.applyFilter(searchValue)">
  </form>

  <md-list>
    <md-list-item  ng-repeat="form in ctrl.forms" ng-click="ctrl.selectForm($event, form)" class="md-3-line" ng-class="{active: ctrl.selectedFormId === form._id}">
      <div class="md-list-item-text">
        <h3>{{form.name}}</h3>
        <h4>{{form._id}}</h4>
        <p>{{form.description}}</p>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
</div>
