<div layout="column" class="inner-column">

  <md-list class="jobs-list">

  <md-list-item ng-click="goToPerson()" class="list-header">
    <p>Jobs Assinged</p>
  </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

    <md-list-item class="md-3-line" ng-click="navigateTo()">
      <div class="md-list-item-text">
        <h3>Job No. 2133623</h3>
        <h4>Brust Pipe</h4>
        <p>42 Templet Bar, Dublin, 2</p>
      </div>
    </md-list-item>

  </md-list>

</div>
