<div layout="column" class="inner-column">

  <md-list class="workers-list">

  <md-list-item ng-click="goToPerson()" class="list-header">
    <p>Workers</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker name</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker another name</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker name goes here</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker middle name</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker last name</p>
  </md-list-item>

  <md-list-item ng-click="goToPerson()">
    <img alt="Name" ng-src="https://dl.dropboxusercontent.com/u/4371641/queen.jpg" class="md-avatar" />
    <p>Worker name</p>
  </md-list-item>


  </md-list>

</div>
