.success {
  color: #388E3C; }

.danger {
  color: #F44336; }

.workorder-item .md-list-item-inner {
  align-items: stretch !important; }

.workorder-item workorder-status {
  width: 30px; }
  .workorder-item workorder-status.success md-icon {
    color: #388E3C; }
  .workorder-item workorder-status.danger md-icon {
    color: #F44336; }
  .workorder-item workorder-status.warning md-icon {
    color: #FFC107; }
  .workorder-item workorder-status md-icon {
    vertical-align: top; }

.md-list-item-text {
  margin-left: 26px !important; }

.workflow-progress {
  background: #3F51B5;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  border-bottom: 2px solid #b8c6d4; }
  .workflow-progress h3, .workflow-progress h5 {
    margin: 5px 0 10px 0; }
  .workflow-progress h5 {
    text-transform: uppercase;
    margin: 0;
    padding-top: 10px;
    color: rgba(255, 255, 255, 0.7); }
  .workflow-progress ul {
    list-style: none;
    margin: 0 0 -1rem 0;
    padding: 0; }
  .workflow-progress li {
    display: inline-block;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background: #b8c6d4;
    margin: 0 5px;
    font-weight: 500; }
  .workflow-progress li.complete {
    background: #a2d9f3;
    color: rgba(255, 255, 255, 0.5); }
  .workflow-progress li.active {
    background: #46b3e7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.workflow {
  margin-bottom: 64px; }

.workflow-actions {
  background: #fff;
  position: fixed;
  text-align: right;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99; }

risk-assessment-signature canvas {
  border: 1px solid rgba(0, 0, 0, 0.12); }

risk-assessment .with-image {
  height: auto; }
  risk-assessment .with-image p {
    padding-bottom: 20px; }
  risk-assessment .with-image img {
    margin-top: 16px;
    width: 100%;
    display: inline-block; }

.vehicle-inspection-form md-radio-button {
  display: inline; }

.vehicle-inspection-form .fuel md-radio-button {
  margin: 5px; }

.vehicle-inspection-portal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.vehicle-inspection-portal dd {
  margin-left: 180px; }

.loading {
  font-style: italic;
  color: gray; }

p.md-caption {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 5px; }

appform-field-signature canvas {
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 99%; }

.with-image {
  height: auto; }
  .with-image p {
    padding-bottom: 20px; }
  .with-image img {
    margin-top: 16px;
    width: 100%;
    display: inline-block; }

.appform-list tbody tr {
  cursor: pointer; }

.phone-display {
  background: url(https://dl.dropboxusercontent.com/u/4371641/iPhone-6.png) no-repeat 0 0;
  width: 485px;
  height: 891px; }
  .phone-display .app-form {
    width: 342px;
    height: 598px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-top: none;
    position: relative;
    position: relative;
    top: 120px;
    left: 51px;
    overflow: auto; }
    .phone-display .app-form .workflow-actions {
      position: absolute;
      right: 0;
      left: 0; }

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }

md-list {
  margin: 0;
  padding: 0; }

md-sidenav md-list {
  padding: 0;
  font-size: 14px;
  font-weight: 500; }

md-list-item button {
  border-radius: 0 !important; }

md-list-item.list-header {
  min-height: 64px;
  color: #fff;
  background: #3F51B5; }

md-list-item.active .md-button, md-list-item.active .md-button:hover {
  background: #E8EAF6 !important;
  cursor: default; }

.main-toolbar {
  z-index: 99999999; }

.dividerdemoBasicUsage .face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

.empty-state {
  text-align: center;
  color: rgba(0, 0, 0, 0.54); }

.inner-column {
  background: rgba(0, 0, 0, 0.05); }
  .inner-column md-toolbar {
    border-right: 1px solid rgba(0, 0, 0, 0.24); }
  .inner-column md-list-item.active .md-button, .inner-column md-list-item.active .md-button:hover {
    background: #fff !important; }

.md-fab {
  position: fixed;
  bottom: 16px;
  right: 16px; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotator 1.4s linear infinite; }
  .spinner .path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */
.as-sortable-item, .as-sortable-placeholder {
  display: block; }

.as-sortable-item {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden; }

.as-sortable-item-handle {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.as-sortable-drag {
  position: absolute;
  left: inherit !important;
  pointer-events: none;
  z-index: 9999; }

.as-sortable-hidden {
  display: none !important; }

.as-sortable-un-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* ******************************************* */
/* Optional CSS, default style for ng-sortable */
/* ******************************************* */
.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin-bottom: 10px;
  border-radius: 2px; }

.as-sortable-item {
  padding: 0 16px; }

.as-sortable-placeholder {
  border: 1px dashed darkgrey;
  box-sizing: border-box;
  background-color: #dbdbdb; }

.as-sortable-drag {
  opacity: .8; }

/*# sourceMappingURL=portal.css.map */